[Unit]
Description=try-osquery server

[Service]
WorkingDirectory=/root/try-osquery
Type=simple
Restart=always
RestartSec=5s
Environment=ADDR=0.0.0.0:443
Environment=ENVIRONMENT=PRODUCTION
Environment=TERM=xterm-256color
ExecStart=/root/try-osquery/backend

[Install]
WantedBy=multi-user.target